
.fs-normal {
    font-size: 100%;
}
.fs-smaller {
    font-size: 80%;
}
.fs-greater {
    font-size: 110%;
}

.input-label-focus {
    animation: input-label-focus-anim 0.25s linear;
    animation-fill-mode:forwards;
}
@keyframes input-label-focus-anim {
    from {
        margin-top: 1.5rem;
        padding-top: 0.25rem;
        font-size: 100%;
    }
    to {
        margin-top: 0rem;
        padding-top: 0;
        font-size: 80%;
    }
}

.input-label-blur {
    animation: input-label-blur-anim 0.25s linear;
    animation-fill-mode:forwards;
}
@keyframes input-label-blur-anim {
    from {
        margin-top: 0rem;
        padding-top: 0;
        font-size: 80%;
    }
    to {
        margin-top: 1.5rem;
        padding-top: 0.25rem;
        font-size: 100%;
    }
}
  