/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

/*=== From Bootstrap ====*/

@charset "UTF-8";
:root {
  --rjfli-blue:#0d6efd;
  --rjfli-indigo:#6610f2;
  --rjfli-purple:#6f42c1;
  --rjfli-pink:#d63384;
  --rjfli-red:#dc3545;
  --rjfli-orange:#fd7e14;
  --rjfli-yellow:#ffc107;
  --rjfli-green:#198754;
  --rjfli-teal:#20c997;
  --rjfli-cyan:#0dcaf0;
  --rjfli-black:#000;
  --rjfli-white:#fff;
  --rjfli-gray:#6c757d;
  --rjfli-gray-dark:#343a40;
  --rjfli-gray-100:#f8f9fa;
  --rjfli-gray-200:#e9ecef;
  --rjfli-gray-300:#dee2e6;
  --rjfli-gray-400:#ced4da;
  --rjfli-gray-500:#adb5bd;
  --rjfli-gray-600:#6c757d;
  --rjfli-gray-700:#495057;
  --rjfli-gray-800:#343a40;
  --rjfli-gray-900:#212529;
  --rjfli-primary:#0d6efd;
  --rjfli-secondary:#6c757d;
  --rjfli-success:#198754;
  --rjfli-info:#0dcaf0;
  --rjfli-warning:#ffc107;
  --rjfli-danger:#dc3545;
  --rjfli-light:#f8f9fa;
  --rjfli-dark:#212529;
  --rjfli-primary-rgb:13,110,253;
  --rjfli-secondary-rgb:108,117,125;
  --rjfli-success-rgb:25,135,84;
  --rjfli-info-rgb:13,202,240;
  --rjfli-warning-rgb:255,193,7;
  --rjfli-danger-rgb:220,53,69;
  --rjfli-light-rgb:248,249,250;
  --rjfli-dark-rgb:33,37,41;
  --rjfli-white-rgb:255,255,255;
  --rjfli-black-rgb:0,0,0;
  --rjfli-body-color-rgb:33,37,41;
  --rjfli-body-bg-rgb:255,255,255;
  --rjfli-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --rjfli-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --rjfli-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --rjfli-body-font-family:var(--rjfli-font-sans-serif);
  --rjfli-body-font-size:1rem;
  --rjfli-body-font-weight:400;
  --rjfli-body-line-height:1.5;
  --rjfli-body-color:#212529;
  --rjfli-body-bg:#fff;
  --rjfli-border-width:1px;
  --rjfli-border-style:solid;
  --rjfli-border-color:#dee2e6;
  --rjfli-border-color-translucent:rgba(0, 0, 0, 0.175);
  --rjfli-border-radius:0.375rem;
  --rjfli-border-radius-sm:0.25rem;
  --rjfli-border-radius-lg:0.5rem;
  --rjfli-border-radius-xl:1rem;
  --rjfli-border-radius-2xl:2rem;
  --rjfli-border-radius-pill:50rem;
  --rjfli-link-color:#0d6efd;
  --rjfli-link-hover-color:#0a58ca;
  --rjfli-code-color:#d63384;
  --rjfli-highlight-bg:#fff3cd
}
/*
@font-face {
  font-family: TwemojiMozilla;
  src: local("TwemojiMozilla"),
      url("./fonts/TwemojiMozilla.ttf") format("truetype");
}
*/
.floatEnd {
  float:right!important
}
.dFlex {
  display:flex!important;
}
.flexRow {
  flex-direction:row!important;
}
.py1 {
  padding-top:.25rem!important;
  padding-bottom:.25rem!important;
}
.textPrimary {
  --rjfli-text-opacity:1;
  color:rgba(var(--rjfli-primary-rgb),var(--rjfli-text-opacity))!important;
}
.textDark {
  --rjfli-text-opacity:1;
  color:rgba(var(--rjfli-dark-rgb),var(--rjfli-text-opacity))!important;
}
.myAuto {
  margin-top:auto!important;
  margin-bottom:auto!important;
}
.textWrap {
  white-space:normal!important;
}
.ps1 {
  padding-left:.25rem!important;
}
.border0 {
  border:0!important;
}
.alignItemsStretch {
  align-items:stretch!important;
}
.borderEnd {
  border-right:var(--rjfli-border-width) var(--rjfli-border-style) var(--rjfli-border-color)!important;
}
.w100 {
  width:100%!important;
}
.h100 {
  height:100%!important;
}
.p1 {
  padding:.25rem!important;
}
.p2 {
  padding:.5rem!important;
}
.py2 {
  padding-top:.5rem!important;
  padding-bottom:.5rem!important;
}
.px1 {
  padding-left:.25rem!important;
  padding-right:.25rem!important;
}
.px2 {
  padding-left:.5rem!important;
  padding-right:.5rem!important;
}
.positionRelative {
  position:relative!important;
}
.alignItemsCenter {
  align-items:center!important;
}
.alignSelfStretch{
  align-self:stretch!important;
}
.gap1 {
  gap:.25rem!important;
}
.mt4 {
  margin-top:1.5rem!important;
}
.mt2 {
  margin-top:0.6rem!important;
}
.mt1 {
  margin-top:0.3rem!important;
}
.border {
  border:var(--rjfli-border-width) var(--rjfli-border-style) var(--rjfli-border-color)!important;
}
.rounded1 {
  border-radius:var(--rjfli-border-radius-sm)!important;
}
.border2 {
  --rjfli-border-width:2px
}
.m0 {
  margin:0!important;
}
.p0 {
  padding:0!important;
}
.me1 {
  margin-right:.25rem!important
}
.mx1 {
  margin-left:.25rem!important;
  margin-right:.25rem!important;
}
.positionAbsolute {
  position:absolute!important;
}
.start0 {
  left:0!important;
}
.top0 {
  top:0!important;
}
.ms1 {
  margin-left:.25rem!important;
}
.borderPrimary {
  --rjfli-border-opacity:1;
  border-color:rgba(var(--rjfli-primary-rgb),var(--rjfli-border-opacity))!important;
}
.border1 {
  --rjfli-border-width:1px;
}
.gap2 {
  gap:.5rem!important;
}
.justifyContentBetween {
  justify-content:space-between!important;
}
.px3 {
  padding-right:1rem!important;
  padding-left:1rem!important;
}
.bgPrimary {
  --rjfli-bg-opacity:1;
  background-color:rgba(var(--rjfli-primary-rgb),var(--rjfli-bg-opacity))!important;
}
.textWhite {
  --rjfli-text-opacity:1;
  color:rgba(var(--rjfli-white-rgb),var(--rjfli-text-opacity))!important;
}
.bgTransparent {
  --rjfli-bg-opacity:1;
  background-color:transparent!important;
}
.pt2 {
  padding-top:.5rem!important;
}
.roundedStart {
  border-bottom-left-radius:var(--rjfli-border-radius)!important;
  border-top-left-radius:var(--rjfli-border-radius)!important;
}
.roundedEnd {
  border-bottom-right-radius:var(--rjfli-border-radius)!important;
  border-top-right-radius:var(--rjfli-border-radius)!important;
}

/*=== From mine ====*/

.fsNormal {
  font-size: 100%;
}
.fsSmaller {
  font-size: 80%;
}
.fsGreater {
  font-size: 110%;
}

.borderDisable {
  border-color: darkgray;
}
.textDisable {
  color: rgb(169, 169, 169);
}
.bgDisable {
  /*background-color: rgb(169, 169, 169);*/
  background-color: rgba(240, 240, 240, 0.35);
}
.bgButtonDisable {
  background-color: rgb(169, 169, 169);
}

.inputNumberNoArrows::-webkit-outer-spin-button,
.inputNumberNoArrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputNumberNoArrows {
  -moz-appearance: textfield;
}

.noOutline {
  outline: none !important;
}
.noOutline:focus {
  outline: none !important;
}

.noBorderOnfocus:focus {
  border: none !important;
}

.noBorderOnHover:hover {
  border: none !important;
}

.noBorder {
  border: none !important;
}

.borderTransparent {
  border: 1px solid transparent !important;
}

.textGray {
  color: gray;
}

.zTop {
  z-index: 100;
}

.verticalCenter {
  display: inline-flex !important;
  align-items: center !important;
}

.clip {
  overflow: hidden;
}

.hAuto {
  height: auto !important;
}

.bgWhite {
  background-color: white;
}

.cursorPointing {
  cursor: pointer !important;
}

.bgCurrent {
  mix-blend-mode: multiply;
  isolation: isolate;
  display: inline-block;
}

/*-----------------------------------------------*/

.borderLabel {
  mix-blend-mode: multiply;
  position: absolute;
  background-color: white;
}
.borderLabel>label {
  position: absolute;
  top: 50%;
  background-color: white;
  transform: translateY(-50%);
}

.inputWrapper {
  position: relative;
}

.borderLabel {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.borderLabel>label {
  left: 0;
  right: unset;
  margin-left: 0.2rem;
  padding: 0.2rem 0.4rem;
  display: inline-block;
}
.borderLabel.border2>label {
  padding-top: 1px;
  right: unset;
  left: -1px;
}

[dir="rtl"] .borderLabel>label {
  left: unset;
  right: 0;
  margin-right: 0.2rem;
  padding: 0.2rem 0.4rem;
  display: inline-block;
}
[dir="rtl"] .borderLabel.border2>label {
  padding-top: 1px;
  left: unset;
  right: -1px;
}

/*** Input Label **********************/
.inputLabelFocus.type2 {
  animation: input-label-focus-anim2 0.2s linear !important;
  animation-fill-mode:forwards !important;
}
.inputLabelFocus:not(.type2) {
  animation: input-label-focus-anim 0.2s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .inputLabelFocus:not(.type2) {
  animation: input-label-focus-anim-rtl 0.2s linear;
  animation-fill-mode:forwards;
}
@keyframes input-label-focus-anim {
  from {
      top: 50%;
      margin-left: 0.2rem;
      padding-left: 0.4rem;
      font-size: 100%;
  }
  to {
      top: -15px;
      margin-left: 0;
      padding-left: 0;
      font-size: 80%;
  }
}
@keyframes input-label-focus-anim2 {
  from {
      top: 50%;
      font-size: 100%;
  }
  to {
      top: -5%;
      font-size: 80%;
  }
}
@keyframes input-label-focus-anim-rtl {
  from {
      top: 50%;
      margin-right: 0.2rem;
      padding-right: 0.4rem;
      font-size: 100%;
  }
  to {
      top: -15px;
      margin-right: 0;
      padding-right: 0;
      font-size: 80%;
  }
}

.inputLabelBlur.type2 {
  animation: input-label-blur-anim2 0.2s linear !important;
  animation-fill-mode:forwards !important;
}
.inputLabelBlur:not(.type2) {
  animation: input-label-blur-anim 0.2s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .inputLabelBlur:not(.type2) {
  animation: input-label-blur-anim-rtl 0.2s linear;
  animation-fill-mode:forwards;
}
@keyframes input-label-blur-anim {
  from {
      top: -15px;
      margin-left: 0;
      padding-left: 0;
      font-size: 80%;
  }
  to {
      top: 50%;
      margin-left: 0.2rem;
      padding-left: 0.4rem;
      font-size: 100%;
  }
}
@keyframes input-label-blur-anim2 {
  from {
      top: -5%;
      font-size: 80%;
  }
  to {
      top: 50%;
      font-size: 100%;
  }
}
@keyframes input-label-blur-anim-rtl {
  from {
      top: -15px;
      margin-right: 0;
      padding-right: 0;
      font-size: 80%;
  }
  to {
      top: 50%;
      margin-right: 0.2rem;
      padding-right: 0.4rem;
      font-size: 100%;
  }
}

/*** Plain Label **********************/
.plainLabelFocus.type2 {
  animation: plain-label-focus-anim2 0.2s linear !important;
  animation-fill-mode:forwards !important;
}
.plainLabelFocus:not(.type2) {
  animation: plain-label-focus-anim 0.2s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .plainLabelFocus:not(.type2) {
  animation: plain-label-focus-anim-rtl 0.2s linear;
  animation-fill-mode:forwards;
}
@keyframes plain-label-focus-anim {
  from {
      top: 17px;
      margin-left: 0.2rem;
      padding-left: 0.4rem;
      font-size: 100%;
  }
  to {
      top: -15px;
      margin-left: 0;
      padding-left: 0;
      font-size: 80%;
  }
}
@keyframes plain-label-focus-anim-rtl {
  from {
      top: 17px;
      margin-right: 0.2rem;
      padding-right: 0.4rem;
      font-size: 100%;
  }
  to {
      top: -15px;
      margin-right: 0;
      padding-right: 0;
      font-size: 80%;
  }
}
@keyframes plain-label-focus-anim2 {
  from {
      top: 17px;
      font-size: 100%;
  }
  to {
      top: -1px;
      font-size: 80%;
  }
}

.plainLabelBlur.type2 {
  animation: plain-label-blur-anim2 0.2s linear !important;
  animation-fill-mode:forwards !important;
}
.plainLabelBlur:not(.type2) {
  animation: plain-label-blur-anim 0.2s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .plainLabelBlur:not(.type2) {
  animation: plain-label-blur-anim-rtl 0.2s linear;
  animation-fill-mode:forwards;
}
@keyframes plain-label-blur-anim {
  from {
      top: -15px;
      margin-left: 0;
      padding-left: 0;
      font-size: 80%;
  }
  to {
      top: 17px;
      margin-left: 0.2rem;
      padding-left: 0.4rem;
      font-size: 100%;
  }
}
@keyframes plain-label-blur-anim-rtl {
  from {
      top: -15px;
      margin-right: 0;
      padding-right: 0;
      font-size: 80%;
  }
  to {
      top: 17px;
      margin-right: 0.2rem;
      padding-right: 0.4rem;
      font-size: 100%;
  }
}
@keyframes plain-label-blur-anim2 {
  from {
      top: -1px;
      font-size: 80%;
  }
  to {
      top: 17px;
      font-size: 100%;
  }
}
/**********************************/

.optionButton {
  border: none;
  border-radius: 0.5rem;
  
}
.optionButtonWhite:hover {
  background-color: rgb(214, 235, 255) !important;
}

:global .flag-emoji {
    font-family: "Twemoji Country Flags"; /*TwemojiMozilla;*/
    font-size: larger;
    margin-right: 0.25rem;
  }

/*** Select Label Phone **********************/
.selectLabelPhoneFocus.type2 {
  animation: select-label-phone-focus-anim2 0.25s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .selectLabelPhoneFocus.type2 {
  animation: select-label-phone-focus-anim2-rtl 0.25s linear;
  animation-fill-mode:forwards;
}
.selectLabelPhoneFocus:not(.type2) {
  animation: select-label-phone-focus-anim 0.25s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .selectLabelPhoneFocus:not(.type2) {
  animation: select-label-phone-focus-anim-rtl 0.25s linear;
  animation-fill-mode:forwards;
}
@keyframes select-label-phone-focus-anim {
  from {
    top: 50%;
    margin-left: 75px;
    padding-left: 0.4rem;
    font-size: 100%;
  }
  to {
    top: -15px;
    margin-left: 0;
    padding-left: 0;
    font-size: 80%;
  }
}
@keyframes select-label-phone-focus-anim2 {
  from {
      top: 50%;
      margin-left: 75px;
      font-size: 100%;
  }
  to {
      top: -5%;
      margin-left: 0.25rem;
      font-size: 80%;
  }
}
@keyframes select-label-phone-focus-anim-rtl {
  from {
    top: 50%;
    margin-right: 75px;
    padding-right: 0.4rem;
    font-size: 100%;
  }
  to {
    top: -15px;
    margin-right: 0;
    padding-right: 0;
    font-size: 80%;
  }
}
@keyframes select-label-phone-focus-anim2-rtl {
  from {
      top: 50%;
      margin-right: 75px;
      font-size: 100%;
  }
  to {
      top: -5%;
      margin-right: 0.25rem;
      font-size: 80%;
  }
}

.selectLabelPhoneBlur:not(.type2) {
  animation: select-label-phone-blur-anim 0.25s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .selectLabelPhoneBlur:not(.type2) {
  animation: select-label-phone-blur-anim-rtl 0.25s linear;
  animation-fill-mode:forwards;
}
.selectLabelPhoneBlur.type2 {
  animation: select-label-phone-blur-anim2 0.25s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .selectLabelPhoneBlur.type2 {
  animation: select-label-phone-blur-anim2-rtl 0.25s linear;
  animation-fill-mode:forwards;
}
@keyframes select-label-phone-blur-anim {
  from {
    top: -15px;
    margin-left: 0;
    padding-left: 0;
    font-size: 80%;
  }
  to {
    top: 50%;
    margin-left: 75px;
    padding-left: 0.4rem;
    font-size: 100%;
  }
}
@keyframes select-label-phone-blur-anim2 {
  from {
    top: -5%;
    margin-left: 0.25rem;
    font-size: 80%;
  }
  to {
    top: 50%;
    margin-left: 75px;
    font-size: 100%;
  }
}
@keyframes select-label-phone-blur-anim-rtl {
  from {
    top: -15px;
    margin-right: 0;
    padding-right: 0;
    font-size: 80%;
  }
  to {
    top: 50%;
    margin-right: 75px;
    padding-right: 0.4rem;
    font-size: 100%;
  }
}
@keyframes select-label-phone-blur-anim2-rtl {
  from {
    top: -5%;
    margin-right: 0.25rem;
    font-size: 80%;
  }
  to {
    top: 50%;
    margin-right: 75px;
    font-size: 100%;
  }
}

/*** Select Label **********************/
.selectLabelFocus:not(.type2) {
  animation: select-label-focus-anim 0.2s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .selectLabelFocus:not(.type2) {
  animation: select-label-focus-anim-rtl 0.2s linear;
  animation-fill-mode:forwards;
}
.selectLabelFocus.type2 {
  animation: select-label-focus-anim2 0.2s linear;
  animation-fill-mode:forwards;
}
@keyframes select-label-focus-anim {
  from {
    top: 50%;
    margin-left: 0.2rem;
    padding-left: 0.4rem;
    font-size: 100%;
  }
  to {
    top: -15px;
    margin-left: 0;
    padding-left: 0;
    font-size: 80%;
  }
}
@keyframes select-label-focus-anim-rtl {
  from {
    top: 50%;
    margin-right: 0.2rem;
    padding-right: 0.4rem;
    font-size: 100%;
  }
  to {
    top: -15px;
    margin-right: 0;
    padding-right: 0;
    font-size: 80%;
  }
}
@keyframes select-label-focus-anim2 {
  from {
    top: 50%;
    font-size: 100%;
  }
  to {
    top: -5%;
    font-size: 80%;
  }
}

.selectLabelBlur:not(.type2) {
  animation: select-label-blur-anim 0.2s linear;
  animation-fill-mode:forwards;
}
[dir="rtl"] .selectLabelBlur:not(.type2) {
  animation: select-label-blur-anim-rtl 0.2s linear;
  animation-fill-mode:forwards;
}
.selectLabelBlur.type2 {
  animation: select-label-blur-anim2 0.2s linear;
  animation-fill-mode:forwards;
}
@keyframes select-label-blur-anim {
  from {
    top: -15px;
    margin-left: 0;
    padding-left: 0;
    font-size: 80%;
  }
  to {
    top: 50%;
    margin-left: 0.2rem;
    padding-left: 0.4rem;
    font-size: 100%;
  }
}
@keyframes select-label-blur-anim-rtl {
  from {
    top: -15px;
    margin-right: 0;
    padding-right: 0;
    font-size: 80%;
  }
  to {
    top: 50%;
    margin-right: 0.2rem;
    padding-right: 0.4rem;
    font-size: 100%;
  }
}
@keyframes select-label-blur-anim2 {
  from {
    top: -5%;
    font-size: 80%;
}
to {
    top: 50%;
    font-size: 100%;
}
}


